html {
    height: 100%;
}

h1 {
    text-align: center;
    font-family: 'vcr_osd_monoregular';
    font-size: 40px;
}

button {
    background-color: white;
    border-radius: 5px;
    height: 40px;
    padding: 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100px;
    font-family: 'sans-serif';
}

body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 210, 167, 0.433);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

#main-container {
    display: flex;
    flex-direction: row;
}

#options-container, .info-container {
    display: flex;
    margin: 0px 20px;
    height: 820px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    box-sizing: border-box;
    border: 3px solid black;
    width: 210px;
    font-family: sans-serif;
}

#set-grid-container {
    padding: 25px;
    border-bottom: 1px dotted black;
    box-sizing: border-box;
}

#set-grid-container input {
width: 80px;
font-size: 20px;
}

#set-grid-input {
    text-align: center;
}

#grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 800px;
    min-width: 800px;
    align-items: center;
    border: 10px solid black;
    background-color: white;
    margin-bottom: 40px;
}

.grid-row {
    display: flex;
}

.pixel {
    box-sizing: border-box;
    border: 1px dotted rgb(199, 198, 198);
}

#randomizer-container {
    display: flex;
    justify-content: center;
}

#randomizer-button {
    width: 90px;
}

#color-selector-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.option-element {
    display: flex;
    justify-content: center;
    padding: 15px;
    border-bottom: 1px dotted black;
    width: 100%;
    box-sizing: border-box;
}

#color-selector {
    width: 90px;
    height: 90px;
}

.palette-color {
    box-sizing: border-box;
    border: 1px solid black;
    height: 60px;
    width: 60px;
    flex-wrap: wrap;
    margin: 4px;
}

#palette-grid {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-content: center;
}

#randomizer-button {
    width: 100px;
}

#palette-text {
    display: flex;
    justify-content: center;
    padding: 5px 0px;
}

#keyboard-explainer-container {
    align-items: center;
}

#palette-save {
    font-size: 15px;
    height: 65px;
}

button:active {
    background-color: black;
    color: white;
    filter: drop-shadow(0px 4px 5px black);
}