body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

#grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 1000px;
    width: 1000px;
    align-items: center;
    border: 2px solid black;
}

.grid-row {
    display: flex;
    flex-direction: row;
}

.pixel {
    border: 2px solid black;
    width: 20px;
    height: 20px;
    /* write formula later which divides the grid-container length by pixel count to get the % value for height and width that would fill the grid*/
    
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px;
}